<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col">
                <span>{{ .}}</span>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"></script>

<script>
    $.ajax({
        type: "GET",
        url: "/user",
        // data: "data",
        dataType: "json",
        success: function (response) {
            console.log(response)
        }
    });
</script>
<script>
    $.ajax({
        type: "GET",
        url: "/dep",
        // data: "data",
        dataType: "json",
        success: function (response) {
            console.log(response)
        }
    });
</script>
<script>
    $.ajax({
        type: "GET",
        url: "/db",
        // data: "data",
        dataType: "json",
        success: function (response) {
            console.log(response)
        }
    });
</script>
<script>
    $.ajax({
        type: "GET",
        url: "/getone",
        // data: "data",
        dataType: "json",
        success: function (response) {
            console.log(response)
        }
    });
</script>

</html>